.main{
    display: grid;
    justify-items: center;
    margin-top: 2%;
}

.header_container{
    display:flex;
    align-content: center;
    justify-content: space-between;
    background-image:linear-gradient(to right, #672280,#A626D3);
    color:#ffffff;
    width:75vw;
}
.logo_header{
    display: flex;
}

.logo{
    width:80px;
    height: 80px;
    padding: 0 20px;
}

.header{
    font-size: x-large;
    font-weight: 700;
    padding: 0 20px;
}

.project{
    font-size: large;
    font-weight: 500;
    padding-top:10px;
    padding-right: 20px;
}

.texts{
    display: grid;
    justify-content: center;
}

.inputs{
    display:flex;
    width:85vw;
    justify-content: center;
}

input{
    margin:20px;
    padding: 6px;
    border-radius: 7px;
    border-color: #b4afb6;
    box-shadow: 0 2px 4px;
    text-align: center;
    font-size: large;
    overflow: hidden;
    width:30vw;
}

#meme{
    padding: 10px;
    margin:15px;
    width:75vw;
    border-radius: 7px;
    box-shadow: 0 2px 4px;
    background-image:linear-gradient(to right, #672280,#A626D3);
    color:white;
    font-size: large;
}

.meme{
    justify-self: center;
}

.memeImage{
    width:75vw;
    height:auto;
}

#Image{
    display:flex;
    justify-content: center;
}
